* {
  scroll-behavior: smooth;
}
header {
  transition: 0.5s;
}
header.sticky {
  background: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky a,
header.sticky #icon {
  color: #ef4444;
  padding: 0 0 40px 0;
  transition: 0.5s;
}
.icon {
  margin-top: 40px;
  display: flex;
  z-index: 100;
}
.hide {
  display: none;
}
